{% extends "suit_dashboard/base.html" %}
{% load admin_static %}
{% block dashboard_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}
 {% block content %}
<html>
<body>
<div class="team-main">

			  	<div class="col-md-6 team-gris">
			  		<div class="team-member">
				  		<div class="team-img">
				  			<img src="{{ STATIC_URL }}images/t1.jpg" alt="" class="img-responsive">
                            <ul class="team-mem">
				  				<li><a href="#" class="fa"><span class="team-icon"> 旁听</span> </a></li>
				  				<li><a href="#" class="tw"><span class="team-icon"> 接入</span> </a></li>
				  			</ul>
				  		</div>
				  		<div class="team-text">
				  			<h3>证件号码:  23080219902180000</h3>
				  			<h4>用户姓名:  隔壁老王</h4>
				  		    <h5>接待客服:  KFC002</h5>
				  		</div>
				  	  <div class="clearfix"> </div>
			  	   </div>
			  	</div>

    {% for post in post %}
			  	<div class="col-md-6 team-gris">
			  	   <div class="team-member">
				  		<div class="team-img">
				  			<img src="{{ STATIC_URL }}images/t1.jpg" alt="" class="img-responsive">
				  			<ul class="team-mem">
				  				<li><a href="#" class="fa"><span class="team-icon"> 旁听</span> </a></li>
				  				<li><a href="#" class="tw"><span class="team-icon"> 接入</span> </a></li>
				  			</ul>
				  		</div>
				  		<div class="team-text">
                            <h3>证件号码: {{ post.phone }}</h3>
				  			<h4>用户姓名: {{ post.name }}</h4>
				  		    <h5>接待客服: {{ post.nick }}</h5>
				  		</div>
				  	  <div class="clearfix"> </div>
			  	   </div>
			  </div>


      {% endfor %}
		  	<div class="col-md-6 team-gris">
			  	   <div class="team-member">
				  		<div class="team-img">
				  			<img src="{{ STATIC_URL }}images/t1.jpg" alt="" class="img-responsive">
				  			<ul class="team-mem">
				  				<li><a href="#" class="fa"><span class="team-icon"> 旁听</span> </a></li>
				  				<li><a href="#" class="tw"><span class="team-icon"> 接入</span> </a></li>
				  			</ul>
				  		</div>
				  		<div class="team-text">
                            <h3>证件号码: {{ post.phone }}</h3>
				  			<h4>用户姓名: {{ post.name }}</h4>
				  		    <h5>接待客服: {{ post.nick }}</h5>
				  		</div>
				  	  <div class="clearfix"> </div>
			  	   </div>
			  </div>

			  	<div class="clearfix"> </div>
			 </div>


</html>
{%endblock%}

